table{
    font-family: "Times New Roman";
    border-collapse: collapse;
    width: 50%;

}
tr{
    height: 50px;

}
th{
    border: none;
    background-color: orange;
}

.odd td:nth-child(odd){
    background-color: black;
}
.even td:nth-child(even){
    background-color: black;
}
