/*Xác định font chữ hiển thị bảng. Viền bảng hiển thị nét mảnh. Độ rộng 100%.*/
table{
    font-family: "Times New Roman";
    border-collapse: collapse;
    width: 100%;
}
/*Xác định đường viền cho bảng. Nội dung từng ô căn bên trái. Các ô cách nhau 8px.*/
th,td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
/*th{*/
/*    border: 1px solid #dddddd;*/
/*    text-align: left;*/
/*    padding: 8px;*/
/*    background-color: #dddddd;*/
/*}*/
/*Xác định màu nền của các dòng chẵn là #dddddd*/
/*nth-child(even) : là tô màu cho các ô chẵn*/
/*nth-child(odd) : là tô màu cho các ô lẽ*/
tr:nth-child(odd){
    background-color: #dddddd;
}