form p{
    background-color: skyblue;
    color: blue;
    font-size: 30px;
}
label{
    font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;
    font-size: 20px;
}
form{
    background-color: yellow;
}