table{
    font-family: "Times New Roman";
    border-collapse: collapse;
    width: 100%;
}
.dongtkb1 th{
    text-align: center;
    border: none;
    color: blue;
}
.dongtkb3 td,th{
    text-align: left;
}

.dongtkb2 th{
    color: white;
    background-color: red;
    border: 1px solid #dddddd;
    text-align: left;
}
.dongtkb2 td{
    background-color: orange;
    color: white;
    border: 1px solid #dddddd;
    text-align: left;
}
tr td:first-child,
.dongtkb3 th:first-child{
    color: red;
}
tr td:last-child,
.dongtkb3 th:last-child{
    color: blue;
}

/*tr td:last-child,.dongtkb3 th:last-child{*/
/*    color: blue;*/
/*}*/

/*th,td{*/
/*    border: 1px solid #dddddd;*/
/*    text-align: left;*/
/*}*/